button {
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: large;
}

body {
    display: grid;
    background-color: white;
    color: black;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
}
header {
    width: 100vw;
    background-color: transparent;
    position: fixed;
    margin-bottom: 1rem;
}
#buttonGoUp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: orangered;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}
.menu-burger {
    height:100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: orangered;
    padding-top: 1rem;
    text-decoration: none;
    transition: right 0.5s ease;

}
.menu-burger a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu-burger a:hover {
    color: black;
}

.menu-burger ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-burger.active {
    right: 0;
}
.menu-burger .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black ;
    margin: 6px 0;
}
#openBtn {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.email {
    justify-content: left;
    margin-top: 4rem;
}
.pages{
    justify-content: space-between;
}

#page1 {
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    }
    .page1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
    }

.experiences {

    margin-left: 2vw;
    font-size: larger;

    }
.Animateur {
    margin-top: 8rem;
}
.Equipier {
    margin-top: 8rem;

}
.Stagiaire {
    margin-top: 8rem;
}


p {

    font-size: 2.5rem;
    margin-top: 8rem;
    left: 10vw;
}
.img2 {
    top: 50px;
    width: 40%;
    height: auto;
}
.MCD {
    display: block;
    border: 4px solid black;
    width: 80vw;
    padding: 2vw;
}
.UML {
    display: block;
    border: 4px solid black;
    width: 80vw;
    padding: 2vw;
}
#page2 {
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-left: 10vw;
    .page2 {
        margin-left: 2vw;
        border: 1px  ;
}
}
.p_page2 {
    right: 0;
    margin-right: 0;
    font-size: 3rem;
}
.page2 {
    margin-right: 2vw;
    
}

#page3 {
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
    margin-left: 10vw;
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
        margin-top: 6vh;
    }
    button {
        background-color: black;
        font-size: larger;
    }
    a {
        color: white;
    }
}

.events {
    padding: 1rem;
    p {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}
.AP1 {
    display: block;
    border: 1px solid black;
    width: 20vw;
    align-items: center;
    justify-content: space-around;
    position: relative;
    h1 {
        font-size: 2rem;
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
        
    }

    button {
        padding: 1rem;
        border: 1px solid black;
        transition: ease-in-out 0.5s;
        width: 20vw;
        position: absolute;
        bottom: 0;
        a{
            text-decoration: none;
            font-size: larger;   
        }
    }
}
.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.AP2 {
    display: block;
    border: 1px solid black;
    width: 20vw;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        font-size: 2rem;
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
    }

    button {
        padding: 1rem;
        border: 1px solid black;
        transition: ease-in-out 0.5s;
        width: 20vw;
        position: absolute;
        bottom: 0;
        a{
            text-decoration: none;
            font-size: larger;   
        }
    }
}
.stage {
    display: block;
    border: 1px solid black;
    width: 20vw;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        font-size: 2rem;
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
    }

    button {
        padding: 1rem;
        border: 1px solid black;
        transition: ease-in-out 0.5s;
        width: 20vw;
        position: absolute;
        bottom: 0;
        a{
            text-decoration: none;
            font-size: larger;   
        }
    }
}
#page4 {
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
    margin-left: 10vw;
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
    }
    button {
        background-color: black;
    }
    a{
        color: white;
    }
}
.alternance {
    display: block;
    border: 1px solid black;
    width: 20vw;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        font-size: 2rem;
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
    }
    button {
        margin-top: 12px;
        padding: 1rem;
        border: 1px solid black;
        transition: ease-in-out 0.5s;
        width: 20vw;
        position: absolute;
        bottom: 0;
        a{
            text-decoration: none;
            font-size: larger;   
        }
    }
}
 /* @media screen and (min-width : 1080px) {
    #page1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height: 100vh;
        .page1 {
            display: block;
            justify-content: end;
            align-items: center;
            margin-left: 2vw;
            border: 1px white solid ;
            width: 40vw;
            h1{
                display: flex;
                justify-content: center;
            
            }
        }   

    } 

    
    #page3 {
        width: 100vw;
        height: 100vh;
    }
    #page4 {
        width: 100vw;
        height: 100vh;
        margin-top: 15vh;
    }
    #page5 {
        width: 100vw;
        height: 100vh;
    }
    #page6 {
        width: 100vw;
        height: 100vh;
        margin-bottom: 2rem;
    }
}  */

.AP3 {
    display: block;
    border: 1px solid black;
    width: 20vw;
    align-items: center;
    justify-content: center;
    position: relative;;
    h1 {
        font-size: 2rem;
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
    }

    button {
        padding: 1rem;
        border: 1px solid black;
        transition: ease-in-out 0.5s;
        width: 20vw;
        position: absolute;
        bottom: 0;
        a{
            text-decoration: none;
            font-size: larger;   
        }
    }
}
.AP4 {
    display: block;
    border: 1px solid black;
    width: 20vw;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        font-size: 2rem;
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    h2 {
        display: flex;
        justify-content: center;
    }


    button {
        padding: 1rem;
        border: 1px solid black;
        transition: ease-in-out 0.5s;
        width: 20vw;
        position: absolute;
        font-size: larger;
        bottom: 0;
        a{
            text-decoration: none;
            font-size: larger;   
        }
    }
}
#page5 {

    width: 80vw;
    height: 120vh;
    box-sizing: border-box;
    margin-left: 10vw;
    margin-bottom: 0;
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
        margin-top: 8vh;
    }

    img{
        width: 100%;
        height: 100%;
    }
}
.page5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}

#downloadCV {
    padding: 1rem;
}

/* @media screen and (max-width: 800px)  {
    #page5 {
        width: 100vw;
        height: 100vh;
    }
    .page5 {
        display: block;
        border: 1px solid black;
    }

} */
#footer {
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr 1fr;
    color: black;
    .infos li {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
    }
    .réseaux {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: xx-large;
        img{
            width: 50px;
            height: 50px;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}

@media screen and (max-width: 780px) {
    body {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        width: auto;
        left:0;
        background-color: white;
    }
    #page1 {
        margin-top: 40vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        .experiences{
            margin: auto;
            width: 50%;
        }
    }
    #page2 {
        margin-top: 60vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
    }
    #page3 {
        margin-left: 0;
        margin-top: 15vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        .AP1{
            width: fit-content;
        }
        .AP2 {
            width: fit-content;
        }
        .stage{
            width: fit-content;
        }
    }
    #page4 {
        margin-left: 0;
        margin-top: 35vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        .alternance{
            width: fit-content;
        }
        .AP3{
            width: fit-content;
        }
        .AP4{
            width: fit-content;
        }
    }
    #page5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        width: fit-content;
        margin-bottom: 0;
        bottom: 0;
        .réseaux{
            display: grid;
        }
    }
    .email {
        margin: none;
        height: 0;
    }
    img {
        display: none;
    }
    
}