body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
}

button {
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: xx-large;
}

img {
    top: 0;
    bottom: 0;
    width: auto;
    height: 80vh;
}

* {
    margin: 0;
}

.right {
    top: 22%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.left {
    top: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: relative;
}

@keyframes typing {
    from { width: 0; }
    to { width: 50%; } /* Ajustez cette valeur pour correspondre à la longueur du texte */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.réseaux {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
}

.réseaux img {
    width: 50px;
    height: 50px;
}

.réseaux a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        width: auto;
        left: 0;
        background-color: black;
        overflow: visible;
    }
    
    .Bienvenue {
        font-size: 500%;
    }
    
    .réseaux {
        display: flex;
        flex-direction: column;
        position: fixed;
        font-size: xx-large;
    }

    .réseaux img {
        width: 50px;
        height: 50px;
    }

    .réseaux a {
        text-decoration: none;
        color: black;
    }

    .wave-top, .wave-bottom {
        z-index: -1;
        position: absolute;
        width: 1%;
        height: 100%;
        background: url('../assets/vagues.jpg'); /* Remplacez par le chemin de votre image SVG de vagues */
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .wave-top {
        left: 0;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    
    .wave-bottom {
        right: 0;
        transform: rotate(180deg);
    }
}

.wave-top, .wave-bottom {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../assets/vagues.jpg'); /* Remplacez par le chemin de votre image SVG de vagues */
    background-size: cover;
    background-repeat: no-repeat;
}

.wave-top {
    top: 0;
    background-position: center bottom;
}

.wave-bottom {
    bottom: 0;
    background-position: center bottom;
}

@keyframes wave-animation {
    from { background-position-x: 0; }
    to { background-position-x: 1000px; } /* Ajustez selon la largeur de votre image */
}
